.pessoas{
    display: flex;
    justify-content: space-around;
    
}


@media screen and (min-width: 0){
    .pessoas{
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-right: 1rem;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px){
    .pessoas{
        flex-direction: row;
        padding-top: 3rem;
    }
}

